# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties

# Windows
/windows/flutter/ephemeral/

# Linux
/linux/flutter/ephemeral/

# Symbolication
app.*.symbols
app.*.map.json

# Environment
.env

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
*.swp
*.log
